body {
  font-family: sans-serif;
  margin: 0px;
  /* background-color: red; */
  background-image: url('./pencils-bg-color.png');

}

a {
  text-decoration: none;
}

label {
  display: block;
}
/*
nav a {
  display: inline-block;
  margin: 1em;
} */

form div {
  margin: 1em;
  display: inline-block;
}

.canvas {
  cursor: url('./pencil.svg') 0 100, auto;
  min-height: 400;
  min-width: 400
}
